{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tavern's Gear{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
</head>
<body>
     <nav class="navbar">
            <div class="container">
                <a href="{% url 'about' %}" class="logo">Tavern's Gear</a>
                <ul class="nav-menu">
                    <li><a href="{% url 'about' %}" class="{% if request.resolver_match.url_name == 'about' %}active{% endif %}">О нас</a></li>
                    <li><a href="{% url 'contacts' %}" class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %}">Где нас найти?</a></li>
                    <li><a href="{% url 'catalog' %}" class="{% if request.resolver_match.url_name == 'catalog' %}active{% endif %}">Каталог</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'cart_detail' %}" class="{% if request.resolver_match.url_name == 'cart_detail' %}active{% endif %}">Корзина</a></li>
                        <li><a href="{% url 'order_list' %}" class="{% if request.resolver_match.url_name == 'order_list' %}active{% endif %}">Мои заказы</a></li>
                        <li><a href="#">{{ user.username }}</a></li>
                        <li> <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <a href="#" onclick="this.parentNode.submit(); return false;">Выйти</a>
    </form></li>
                    {% else %}
                        <li><a href="{% url 'login' %}" class="btn-register">Вход</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2026 Tavern's Gear. Все права защищены.</p>
        </div>
    </footer>
</body>
</html>